body{
    font-family: 'Poppins', sans-serif;
}

.fade-in-1 {
    animation: fadeIn 5s;
}
.fade-in-2{
    animation: fadeIn 7s;
}
.fade-in-3{
    animation: fadeIn 10s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(30 41 59);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(189, 189, 189);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }